<div class="modal-body p-4 bg-white rounded-lg shadow-md">
    <div class="ins-cont">											                                         

        <div class="row mb-4">
            <div class="col-sm-12" id="changeableMsg">
                <div class="flex items-center mb-2">
                    <img src="images/warning-rln.png" alt="warning-img" class="w-8 h-8 mr-2">
                    <div class="text-sm font-semibold text-red-600">
                        This RL number and company name do not match with BMET provided member list.
                    </div>
                </div>
                <div class="text-sm text-gray-700 mb-1">
                    For these possible reasons your account was unable to be verified.
                </div>
                <div class="text-sm text-gray-700 font-medium mb-2">Check the following:</div>
                <ul class="list-disc list-inside mb-2">
                    <li class="text-gray-600">Check the RL number and company name</li>
                    <li class="text-gray-600">Enter the exact name which has been registered in the BMET</li>
                </ul>
                <div class="text-sm text-gray-600">For further inquiries call Customer Support: 
                    <i class="icon-phone"></i> 16479
                </div>														
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-wrap" id="RLNO_Checked">
                    <a href="javascript:void(2661)" class="btn bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Ok</a>
                </div>														
            </div>
        </div>
        
    </div>
</div>
