<div 
  class="fixed inset-0 flex items-center justify-center bg-black/50 z-[1050]"
  (click)="closeModal()">
  <div 
    class="bg-white rounded-lg w-[400px] p-6 shadow-lg"
    (click)="$event.stopPropagation()"> 

    <!-- Modal Header -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Add New Industry</h2>
      <button class="text-gray-500" (click)="closeModal()">✕</button>
    </div>

    <!-- Industry Type Dropdown -->
    <div class="col-span-1 ">
      <form [formGroup]="employeeForm">
      <select formControlName="industryType" id="SelCat" 
              class="flex w-[350px] p-[14px_16px] justify-between items-center rounded-lg border border-[#DAE5EC] bg-white shadow-[0px_1px_2px_rgba(0,0,0,0.05)]"> 
           <option value="" disabled>All</option>
           @for (industry of industries | async; track industry.IndustryId) {
          <option [value]="industry?.IndustryId">{{ industry?.IndustryName }}</option>
        }
      </select>
      <!-- Industry Name Input -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1">Your Industry Name</label>
        <input 
          formControlName="industryName"
          type="text"
          placeholder="Type industry name"
          class="w-full p-2 rounded border border-gray-300">
       
      </div>

      <!-- Action Buttons -->
      <div class="flex justify-end gap-2">
        <button 
          class="bg-green-600 text-white px-4 py-2 rounded"
          (click)="addIndustry()"
          [disabled]="employeeForm.invalid">
          Add
        </button>
        <button 
          class="bg-gray-300 text-black px-4 py-2 rounded"
          (click)="closeModal()">Cancel</button>
      </div>
      </form>
  </div>
</div>
