<div class="job-board emp-reg-form p-8 bg-grey rounded shadow-lg">
  <div class="bg-grey p-8 border border-gray-300 rounded mb-5 text-[#000]">

  <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
  
    <section>
      <h3 class="text-center text-2xl font-semibold mb-8">NID Verification Form</h3>
  
      <!-- National ID Field -->
      <div class="mb-4">
        <label for="nidnum" class="block text-sm font-medium">National ID Number</label>
        <input
          type="text"
          formControlName="nidNumber"
          class="form-control"
          id="nidnum"
          placeholder="Enter NID number"/>
        

        <!-- Error message for NID Number -->
       
        <div *ngIf="empForm.controls['nidNumber'].touched && empForm.controls['nidNumber'].errors?.['pattern']" class="text-red-600">
          <span>NID must be 10-17 digits</span>
        </div>
      </div>
  
      <!-- Date of Birth Field -->
      <div class="mb-4">
        <label for="dob" class="block text-sm font-medium">Date of Birth</label>
        <input type="date" formControlName="dob" id="dob" class="form-control"/>

        <!-- Error message for DOB -->
        <div *ngIf="empForm.controls['dob'].touched && empForm.controls['dob'].errors?.['required']" class="text-red-600">
          <span>Date of Birth is required</span>
        </div>
      </div>
  
      <!-- Capture Image Component -->
      <app-capture-image (capturedImage)="handleImageCapture($event)"></app-capture-image>
    </section>
  
    <section class="mt-8 text-right">
      <button type="submit" class="btn btn-primary" [disabled]="empForm.invalid">
        Submit
      </button>
    </section>
