<div class="bg-gray-100 h-[auto] w-[auto] p-8">
    <div class="max-w-6xl mx-auto">
   <!-- Header Section -->
   <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold flex items-center gap-2">
    </h2>
    <div class="flex gap-2">
      <button 
        class="bg-[#0c6899] hover:bg-[#08547a] text-white px-3 py-2 rounded flex items-center gap-2 transition duration-300"
        (click)="redirectTo('https://corporate3.bdjobs.com/cvsearch.asp')">
        <i class="icon icon-search"></i> Search CV Bank
      </button>
    
      <!-- Post a New Job Button -->
      <button 
        class="bg-[#008A22] hover:bg-[#006617] text-white px-3 py-2 rounded flex items-center gap-2 transition duration-300"
        (click)="redirectTo('https://recruiter.bdjobs.com/jobposting/')">
        <i class="icon icon-plus"></i> Post a New Job
      </button>
    </div>
  </div>
<h2 class=" text-[22px] text-black font-semibold flex items-center gap-2 ml-7">
<i class="icon icon-edit text-black "></i>
Email Template Editor
</h2>

</div>