<div class="mb-[20px]" [id]="id + '-wrapper'">
    <label [for]="id" class="block text-sm font-medium text-gray-700">
      {{ label }}
      <span ngIf="isRequired" class="text-red-600"></span>
    </label>
    <textarea
      class="flex w-[611px] text-[#AAA] font-inter text-[16px] font-normal leading-[22px] h-[90px] p-[14px] px-[16px] items-start gap-[10px] rounded-[8px] border border-[#DAE5EC] bg-white shadow-[0px_1px_2px_rgba(0,0,0,0.05)]"
      [name]="name"
      [id]="id"
      [placeholder]="placeholder"
      [maxLength]="maxLength"
      [formControl]="control"
      [rows]="rows"
    ></textarea>
  </div>