<div class="bg-[#F9FAFB] w-[1750px] h-[3022px]">

   <div 
   class= "flex justify-between items-center p-8  shadow-lg"

    style="background: url('/assets/images/mid-header.svg') no-repeat; width: 1750px; height: 287px; flex-shrink: 0 ;"></div>
    



  <form action="" [formGroup]="employeeForm" (ngSubmit)="onContinue()">

  <!-- Title -->
  <div class="max-w-7xl p-6 mx-auto flex-col -mt-24 items-start gap-5 rounded-2xl bg-white shadow-[0px_0px_40px_10px_rgba(0,0,0,0.05)]">
    <h2 class="flex items-center mb-4   text-lg font-semibold text-blue-700">
      <span class="icon icon-user mr-2"></span> Let’s fill in the user information first
    </h2>

    <div class="flex flex-col sm:flex-row sm:gap-[21px]">
      <div class="flex-1">
          <app-input-field
              label="Username"
              name="txtUserName"
              id="txtUserName"
              [control]="usernameControl()"
              placeholder="Type Username"
              [value]="''"
              [maxLength]="20"
              [isRequired]="true"
              errorMessage="Username is required">
          </app-input-field>
          <div>
              @if (employeeForm.controls['username'].touched && employeeForm.controls['username'].errors?.['required']) {
                  <span class="error-message text-red-600">Username cannot be empty.</span>
              }
              @else if (usernameExistsMessage) {
                  <span class="error-message text-red-600">{{usernameExistsMessage}}</span>
              }
          </div>
      </div>
  
      <div class="flex-1">
          <app-input-field
              label="Password"
              name="txtPassword"
              id="txtPassword"
              [control]="formControlSignals()['password']"
              [isRequired]="true"
              placeholder="Type Password"
              [value]="''"
              [maxLength]="8"
              errorMessage="Password is required">
          </app-input-field>
          <div class="text-red-600">
              @if (employeeForm.controls['password'].touched && employeeForm.controls['password'].errors?.['required']) {
                  <span class="error-message">Password is required</span>
              }
              @else if (employeeForm.controls['password'].errors?.['minlength']) {
                  <span class="error-message">Minimum length should be 6</span>
              }
          </div>
      </div>
  
      <div class="flex-1">
          <app-input-field
              label="Confirm Password"
              name="txtConfirmPassword"
              id="txtConfirmPassword"
              [control]="formControlSignals()['confirmPassword']"
              placeholder="Retype password"
              [value]="''"
              [maxLength]="8"
              [isRequired]="true"
              errorMessage="Confirm Password is required">
          </app-input-field>
          <div class="text-red-600">
              @if (employeeForm.controls['confirmPassword'].touched && employeeForm.controls['confirmPassword'].errors?.['required']) {
                  <span class="error-message">Confirm Password is required</span>
              }
              @else if (employeeForm.controls['confirmPassword'].errors?.['minlength']) {
                  <span class="error-message">Minimum length should be 6</span>
              }
          </div>
      </div>
  </div>
  </div>
  
  <div class="max-w-7xl p-6 mx-auto flex-col mt-6 items-start gap-5 rounded-2xl bg-white shadow-[0px_0px_40px_10px_rgba(0,0,0,0.05)]">
    <h2 class="flex items-center mb-4 text-lg font-semibold text-blue-700">
      <span class="icon icon-commercial mr-2"></span> Now, fill in the detailed information
    </h2>
  
  <!-- Company Details Information -->
      <div class="flex flex-col sm:flex-row sm:gap-[21px]">
                    <!-- comapny name english -->
                    <div class="col-span-1">
                      <app-input-field
                      label="Company Name"
                      name="txtCompanyName"
                      id="txtCompanyName"
                      [control]=" companyNameControl ()"
                      placeholder="Type Company Name"
                      [maxLength]="120"
                      [isRequired]="true"
                      [value]="''"
                      errorMessage="Company Name is required">
                    </app-input-field>
                    <div class="text-red-600">
                      @if (employeeForm.controls['companyName'].touched &&  employeeForm.controls['companyName'].errors?.['required']) {
                      <span class="error-message">Company Name is required</span>
                      }
                      @else if (companyNameExistsMessage) {
                        <span class="error-message">{{companyNameExistsMessage}}</span>
                      }
                  </div>
                    </div>
                    <!-- company name bangla -->
                    <div class="flex-1">
                      <app-input-field
                      label="কোম্পানির নাম (বাংলায়)"
                      name="txtCompanyNameBangla"
                      id="txtCompanyNameBangla"
                      [control]="formControlSignals()['companyAddressBangla']"
                      placeholder="Type Company Name"
                      [value]="''"
                      [maxLength]="120"
                      [isRequired]="false"
                      >
                    </app-input-field>
                    </div>
                    <!-- Years of Establishment -->
                    <div class="flex-1">
                      <app-input-field
                      label="Year of Establishment"
                      name="txtCompanyEstablished"
                      id="txtCompanyEstablished"
                      [control]="formControlSignals()['yearsOfEstablishMent']"
                      placeholder="Type Establishment Year"
                      [value]="''"
                      [maxLength]="4"
                      [isRequired]="true"
                      >
                    </app-input-field>
                    <div class="text-red-600">
                      @if (employeeForm.controls['yearsOfEstablishMent'].touched &&  employeeForm.controls['yearsOfEstablishMent'].errors?.['required']) {
                      <span class="error-message">This is required</span>
                      }
                  </div>
                    </div>
                
                </div>

                <div class="col-span-1">
                  <!-- Country Dropdown -->
                  <select
                    id="country"
                    class="block w-full h-[34px] py-[6px] px-[12px] mt-3 text-[14px] leading-[1.6] text-[#555] bg-white rounded-[8px] border border-[#DAE5EC] shadow-[0px_1px_2px_0px_rgba(0,0,0,0.05)] transition-colors focus:outline-none focus:ring focus:border-[#bdbdbd]"
                    [formControl]="countryControl()"
                    (change)="onCountryChange()"
                  >
                    <option value="" disabled>Select Country</option>
                    <option *ngFor="let country of countries" [value]="country.OptionValue">{{ country.OptionText }}</option>
                  </select>
                  <div class="text-red-600">
                    <ng-container *ngIf="countryControl().touched && countryControl().hasError('required')">
                      <span class="error-message">This is required</span>
                    </ng-container>
                  </div>
                </div>
                
                <!-- District and Thana Dropdowns (Visible if outsideBd is false) -->
                <div *ngIf="!outsideBd" class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                  <!-- District Dropdown -->
                  <div class="col-span-1">
                    <select
                      id="district"
                      class="block w-full h-[34px] py-[6px] px-[12px] mt-3 text-[14px] leading-[1.6] text-[#555] bg-white rounded-[8px] border border-[#DAE5EC] shadow-[0px_1px_2px_0px_rgba(0,0,0,0.05)] transition-colors focus:outline-none focus:ring focus:border-[#bdbdbd]"
                      [formControl]="districtControl()"
                      [disabled]="districts.length === 0"
                    >
                      <option value="" disabled>Select District</option>
                      <option *ngFor="let district of districts" [value]="district.OptionValue">{{ district.OptionText }}</option>
                    </select>
                    <div class="text-red-600">
                      <ng-container *ngIf="districtControl().touched && districtControl().hasError('required')">
                        <span class="error-message">This is required</span>
                      </ng-container>
                    </div>
                  </div>
                
                  <!-- Thana Dropdown -->
                  <div class="col-span-1">
                    <select
                      class="block w-full h-[34px] py-[6px] px-[12px] mt-3 text-[14px] leading-[1.6] text-[#555] bg-white rounded-[8px] border border-[#DAE5EC] shadow-[0px_1px_2px_0px_rgba(0,0,0,0.05)] transition-colors focus:outline-none focus:ring focus:border-[#bdbdbd]"
                      [formControl]="thanaControl()"
                      [disabled]="thanas.length === 0"
                    >
                      <option value="" disabled>Select Thana</option>
                      <option *ngFor="let thana of thanas" [value]="thana.OptionValue">{{ thana.OptionText }}</option>
                    </select>
                    <div class="text-red-600">
                      <ng-container *ngIf="thanaControl().touched && thanaControl().hasError('required')">
                        <span class="error-message">This is required</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
                
    