.error-message {
    color: #e3342f; /* Red color for error text */
    font-size: 0.875rem; /* Match font size to Material Design standards */
    margin-top: -20px; /* Adjust left margin as needed for alignment */
    display: block; /* Ensure the error text is on its own line */
  }
  
  .your-container {
    @apply bg-[#F9FAFB] w-[1750px] h-[3022px];
  }
  .industry-list {
    max-height: 150px;
    overflow-y: auto;
  }
  .industry-list.show-all {
    max-height: none;
  }
  .row {
    background-image: url('/public/assets/images/disability.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.question {
  color: #212121;
  font-size: 16px; 
  font-weight: 500; 
  line-height: 1.5rem; 
  letter-spacing: 0.02em; 
  font-family: 'Inter', sans-serif;
}

.custom-radio{
.custom-radio-button {
  width: 16px;
  height: 16px;
  border: 1px solid #DAE5EC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s, background 0.2s, box-shadow 0.2s;
}

.custom-radio-button::after {
  content: "";
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  transition: background 0.2s;
}

.radio-input:checked + .custom-radio-button {
  border-color: #2563EB;
  background: #0F6DDB;
}

.radio-input:checked + .custom-radio-button::after {
  background: white;
}
}